<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" *ngIf="!isRegisterMode">
  <div class="mb-3">
    <label for="emailLogin" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailLogin" formControlName="email">
    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="text-danger">
      Email é obrigatório e deve ser válido.
    </div>
  </div>
  <div class="mb-3">
    <label for="passwordLogin" class="form-label">Senha</label>
    <input type="password" class="form-control" id="passwordLogin" formControlName="password">
    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
      Senha é obrigatória.
    </div>
  </div>
  <button type="submit" class="btn btn-primary w-100">Login</button>
  <button type="button" class="btn btn-link w-100 mt-2" (click)="toggleMode()">Não tem conta? Cadastre-se</button>
</form>

<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" *ngIf="isRegisterMode">
  <div class="mb-3">
    <label for="emailRegister" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailRegister" formControlName="email">
    <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger">
      Email é obrigatório e deve ser válido.
    </div>
  </div>
  <div class="mb-3">
    <label for="passwordRegister" class="form-label">Senha</label>
    <input type="password" class="form-control" id="passwordRegister" formControlName="password">
    <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger">
      Senha é obrigatória.
    </div>
  </div>
  <button type="submit" class="btn btn-success w-100">Cadastrar</button>
  <button type="button" class="btn btn-link w-100 mt-2" (click)="toggleMode()">Já tem conta? Faça login</button>
</form>