.ford-logo {
  height: 50px;
  object-fit: contain;
}

.gradient-background {
  /* Gradiente linear */
  background: linear-gradient(to bottom, #373737, #ffffff); /* Exemplo de laranja para pêssego */
 
  min-height: 100vh; /* Isso garante que o elemento tenha pelo menos a altura da tela */
  width: 100%;
}
.app-cabecalho.hidden {
  top: -70px;
}