.main-content-box {
   display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center; 
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
    
}

.action-button.login-button-with-logo {
  display: flex; /* Mantemos flex para usar flex-direction */
  flex-direction: column; /* Isso empilha os itens verticalmente */
  align-items: center; /* Centraliza a logo e o texto horizontalmente dentro do botão */
  justify-content: center; /* Centraliza verticalmente o conteúdo, se o botão tiver altura fixa */
  gap: 5px; /* Adiciona um pequeno espaço entre a logo e o texto */
  padding: 15px 25px; /* Ajuste o padding para dar mais espaço, se necessário */
  font-size: 1.2em; /* Tamanho da fonte */
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Garante que o texto fique centralizado se ocupar mais de uma linha */
}

.action-button.login-button-with-logo h1 {
  margin: 0; 
  font-size: 1em; 
  color: rgb(255, 255, 255); 
  font-weight: normal; 
}

.action-button.login-button-with-logo:hover {
  background-color: #0056b3;
}

.button-logo {
  height: 40px; 
  width: auto; 
  margin-right: 5px; 
  margin-bottom: 5px;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  gap: 1rem;
}

.action-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #003478;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  width: 500px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/imagens/Yellow-Ford-Focus-ST.jpg'); /* ajuste para a sua imagem */
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(6px);
}

.Login{
  display: flex;
  justify-content: center;
}

.switch-form {
    margin-top: 25px; 
    text-align: center; 
    font-size: 0.95em; 
    color: #6c757d; 
}

.switch-form a {
    color: #007bff; 
    text-decoration: none; 
    font-weight: 600; 
    cursor: pointer; 
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out; 
}

.switch-form a:hover {
    color: #0056b3; /* Cor azul mais escura ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}