.menu-toggle {
  
  border: none;
  color: rgb(51, 0, 255);
  padding: 0.75rem 1.5rem;
  
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: fixed;
  left: 0px;
  top: 0;
  padding: 10px;
  z-index: 10;

}

.logout{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 15px;
}

.ford-logo {
  height: 50px;
  object-fit: contain;
  
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.header{
position: fixed;
}