<div class="container">
  <div class="box">
    <h2 class="title">Quem somos</h2>
    <p>
      Na Ford, somos movidos por mais de um século de inovação e paixão. Desde 1903, redefinimos a mobilidade, colocando você no centro. Criamos veículos que oferecem segurança, desempenho e tecnologia de ponta, sempre pensando em melhorar sua vida.
      Com presença global, nossa engenharia de ponta e compromisso com a qualidade garantem veículos robustos e confiáveis. Somos a Ford, construindo o futuro da mobilidade com um olhar no amanhã e os pés na nossa rica história.    </p>
  </div>

  <div class="box">
    <h2 class="title">Missão, Visão e Valores</h2>
    <p>
      Nossa Missão é construir um mundo melhor através de mobilidade acessível e sustentável.
      Nossa Visão é ser a empresa mais confiável e líder em mobilidade inteligente.
      Guiam-nos Valores sólidos: Pessoas Primeiro, Uma Ford, Qualidade, Sustentabilidade e Integridade. Eles definem quem somos e impulsionam nossa inovação contínua.

    </p>
  </div>

  <div class="box">
    <h2 class="title">Compromisso com o Cliente</h2>
    <p>
      Vamos além de fabricar veículos, reimaginamos como você se move. Investimos em carros elétricos de ponta e em software e serviços que transformam sua experiência.
      Na Ford, estamos moldando o futuro da mobilidade: mais inteligente, conectado e sustentável.
      Enxergamos um futuro onde a Ford oferece tanto os veículos que você ama quanto as soluções de mobilidade integradas que você precisa. Um futuro mais eficiente, seguro e prazeroso, que estamos construindo hoje.    </p>
      Nosso compromisso com a sustentabilidade é total, com foco em energias limpas e processos eco-friendly.
  </div>
</div>