<div class="container">
  <div class="box" (click)="openModal('Quem somos', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')">
    <h2 class="title">Quem somos</h2>
  </div>

  <div class="box" (click)="openModal('Missão, Visão e Valores', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')">
    <h2 class="title">Missão, Visão e Valores</h2>
   
  </div>

  <div class="box" (click)="openModal('Compromisso com o Cliente', 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.')">
    <h2 class="title">Compromisso com o Cliente</h2>
  </div>
</div>

<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button (click)="closeModal()" class="close-button">&times;</button>
    <h2>{{ selectedTitle }}</h2>
    <p>{{ selectedText }}</p>
  </div>
</div>