
.Ford {
  text-align: center;
}

.table-section {
  margin-bottom: 50px; /* Ajuste este valor para o espaçamento desejado */
}

.gradient-background {
  /* Gradiente linear */
  background: linear-gradient(to top, #1f2225, #ffffff); /* Exemplo de laranja para pêssego */
 
  min-height: 100vh; /* Isso garante que o elemento tenha pelo menos a altura da tela */
  width: 100%;
}

.imagemCarro{ 
  background-color: transparent;
}